@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.offset:before{
  display: block;
  content: "";
  height: 4rem;
}
.navbar {
  padding: .6rem;
}
.navbar-nav li{
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
  color: royalblue;
}
.carousel-inner img{
  width: 100%;
  height: 100%;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption h1 {
  font-weight: bold;
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 10px 10px 20px #000;
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000000;
  padding-bottom: 1rem;
}
.btn-primary {
  background-color: royalblue;
  border: 1px solid royalblue;
}
.btn-primary:hover {
  background-color: cornflowerblue;
  border: 1px solid cornflowerblue;
}
.jumbotron {
  padding: 1rem;
  border-radius: 0;
}
.padding {
  padding-bottom: 2rem;
}
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.fa-clock {
  color: #e54d62;
}
.fa-truck {
  color: #563d7c;
}
.fa-handshake {
  color: #2163af;
}
.fa-truck, .fa-clock, .fa-handshake {
  font-size: 4rem;
  margin: 1rem;
}
.fun {
  width: 100%;
  margin-bottom: 2rem;
}
.gif {
  max-width: 100%;
}
.logo{
  max-height: 20px;
}
.social a{
  font-size: 4.5rem;
  padding: 3rem;
}
.fa-facebook {
  color: #3b5998;
}
.fa-vk {
  color: #00aced;
}

.fa-instagram {
  color: #517fa4;
}
.fa-youtube {
  color: #bb0000;
}
.fa-facebook:hover,
.fa-vk:hover,
.fa-instagram:hover,
.fa-youtube:hover{
  color: #d5d5d5;
}
footer {
  background-color: royalblue;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a {
  color: #d5d5d5;
}
hr.light-100{
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

/*---Медиа Запросы --*/
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
  }
@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }
  .carousel-caption h1 {
    font-size: 350%;
  }
  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .2rem;
  }
  .carousel-caption .btn{
    font-size: 80%;
    padding: 8px 14px;
  }
  .display-4{
    font-size: 200%;
  }
  .social a {
    font-size: 3rem;
    padding: 1.2rem;
  }
}
@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }
  .carousel-caption h1 {
    font-size: 250%;
  }
  .carousel-caption h3 {
    font-size: 110%;
    font-weight: 400;
    padding-bottom: .2rem;
  }
  .carousel-caption .btn{
    font-size: 90%;
    padding: 4px 8px;
  }
  .display-4{
    font-size: 160%;
  }
  .social a {
    font-size: 2rem;
    padding: .8rem;
  }
}
#order {
  margin-top: 4rem;
}


/*--- Фиксированная картинка на фоне --*/
figure {
  position: relative;
  width: 100%;
  height: 40%;
  margin: 0;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/background-fixed.jpg');
  opacity: 0.5;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
 
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 0.5rem;
}









